@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime;

<div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh;">
    <h1>NextJS Conf_ Demo</h1>
    <p style="color: #8a8f98; font-size: 20px;">Real-time user display demo using SignalR</p>

    @if (@connectedUsersCount == 1)
    {
        <h2>
            No other user online
        </h2>
    }
    else
    {
        <h2>
            @connectedUsersCount users online
        </h2>
    }
</div>

@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;
    private int connectedUsersCount;
    private static Func<Cursor, Task> func;


    public record Cursor
    {
        public string User { get; set; }

        public string Message { get; set; }

        public string X { get; set; }

        public string Y { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string, string, string, string>("ReceiveMessage", (connectionId, x, y, user, message) =>
        {
            JSRuntime.InvokeVoidAsync("nextjs.updateCursor", x, y, user, message, connectionId);
            StateHasChanged();
        });

        hubConnection.On<string, int>("UserConnected", (connectionId, connectedUserIdsCount) =>
        {
            connectedUsersCount = connectedUserIdsCount;
            JSRuntime.InvokeVoidAsync("nextjs.onUserConnected", connectionId);

            StateHasChanged();
        });

        hubConnection.On<string, int>("UserDisconnected", (connectionId, connectedUserIdsCount) =>
        {
            connectedUsersCount = connectedUserIdsCount;
            JSRuntime.InvokeVoidAsync("nextjs.onUserDisconnected", connectionId);

            StateHasChanged();
        });

        hubConnection.On<List<string>>("LoadAllConnectedUsers", (connectedUserIds) =>
        {
            connectedUsersCount = connectedUserIds.Count;
            JSRuntime.InvokeVoidAsync("nextjs.loadAllConnectedUsers", connectedUserIds);

            StateHasChanged();
        });

        func = new Func<Cursor, Task>((cursor) => SendMouseEvents(cursor));

        await hubConnection.StartAsync();


        await JSRuntime.InvokeVoidAsync("nextjs.addMouseEventListener");
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }

    [JSInvokable]
    public static void CaptureMouseEvents(string data)
    {
        var cursorInfo = System.Text.Json.JsonSerializer.Deserialize<Cursor>(data);

        func(cursorInfo);
    }

    public async Task SendMouseEvents(Cursor cursorInfo)
    {
        var userEvent = cursorInfo with
        {
            User = userInput,
            Message = messageInput
        };

        await hubConnection.SendAsync("SendMessage", userEvent.X, userEvent.Y, userEvent.User, userEvent.Message);
    }
}
